
{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
 <div class="mdl-grid portfolio-max-width">
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">404 &ndash; Page Not Found</h2>
   </div>
   <p class="mdl-card__supporting-text">
    Oops, the page you requested could not be found.
   </p>
  </div><!-- .mdl-cell -->
 </div><!-- .mdl-grid -->
{% endblock %}

{% block footer %}
 {{ super() }}
{% endblock %}
