{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block head %}
   {{ super() }}
   <!-- From https://fontawesome.com/start -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
         integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
         crossorigin="anonymous">
{% endblock %}

{% block content %}
 <div class="mdl-grid portfolio-max-width">

  <!-- First Row: 1 cells * 12 cols -->
  <a name="row-1"></a>
  <!-- Why Python? -->
  <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp jmws-12-col-card">
   <div class="mdl-card__title jmws-center">
    <h2 class="display-2">JooMoo WebSites LLC</h2>
   </div>
   <div class="mdl-grid">
    <div class="mdl-card mdl-cell mdl-cell--8-col mdl-shadow--4dp jmws-8-col-card">
     <div class="mdl-card__supporting-text">
      <p class="mdl-card__supporting-text bold">
       Hi, my name is Tom Hartung and I have been working with web
        technologies since the mid-1990s.
      </p>
      <p>
       WordPress has evolved into one of the most popular tools for
        building websites.
       It is a powerful, well-documented tool supported by a
        wonderfully diverse and very friendly, intelligent,
        hard-working community,
      </p>
      <p class="mdl-card__supporting-text italic underline">
       What if I told you there are other options, that are leaner,
        more efficient and secure, and hence better suited for
        small businesses, startups, non-profits, and solo efforts?
      </p>
      <p>
       On this page I highlight some of the reasons I have been porting
        my PHP-based WordPress, Joomla, and Drupal sites to use the
        Python-based CMSes Flask and Django.
      </p>
     </div><!-- .mdl-card__supporting-text -->
    </div><!-- .mdl-card  -->
    <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp about-tomh-card-full-bg">
     <div class="mdl-card__supporting-text">
     </div><!-- .mdl-card__supporting-text -->
    </div><!-- .mdl-card  -->
   </div><!-- .mdl-grid  -->
  </div><!-- .mdl-card  -->

  <!-- Second Row: 2 cells * 6 cols -->
  <a name="row-2"></a>
  <!-- Python -->
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--4dp jmws-6-col-card">
   <div class="mdl-card__title jmws-center">
    <i class="fas fa-3x fa-code"></i>
   </div>
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Python</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text bold">
     Python is a multi-purpose programming language.
    </p>
    <p>
     After an IoT hackathon piqued my interest in Python, I played
      around with it a bit on my Raspberry Pi, then used it to
      replace some of my shell scripts.
    </p>
    <p>
     The design of the Django and Flask web CMSes is what really
      turned my head, though.
    </p>
    <p class="mdl-card__supporting-text italic">
     Flask and Django sites use a database only if
      one is needed to support the site's business goals.
    </p>
    <p>
     Many website security vulnerabilities are due to the
      misuse of a database.
     Hence, a site that does not use a database is much more
      secure than a site that uses one.
    </p>
    <p>
     This is especially true if the site uses an open-source
      database &mdash; because it has an open and
      well-known structure.
    </p>
    <p class="mdl-card__supporting-text">
     Python is growing in popularity because it enables
      writing concise code that can be easily understood
      and maintained by beginners and experienced programmers alike.
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->

  <!-- Material Design -->
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--4dp jmws-6-col-card">
   <div class="mdl-card__title jmws-center">
    <i class="fas fa-3x fa-drafting-compass"></i>
   </div>
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Material Design</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text bold">
     Material Design is a design language developed by Google in 2014.
    </p>
    <p>
     I first learned about Material Design in a meetup.
     Its goal is to use paper as a paradigm for giving applications on
      all devices a consistent look and feel.
    </p>
    <p>
     When I recently had the opportunity to create a new site
      from scratch, I decided to give it a try.
     I quickly decided to update my existing python-based sites
      to use it as well.
    </p>
    <p class="mdl-card__supporting-text italic">
     Material Design CSS packages make it
      easy to use it on websites.
    </p>
    <p>
     The Portfolio page on this site showcases sites using
      a variety of Material Design CSS packages.
    </p>
    <p>
     These packages are new and change rapidly, so take this next
      statement with a grain of salt:
     At this time, in January of 2019, I like Material Design Bootstrap
      the best, Material Design Lite the least, and put Materialize
      and MUI-CSS in between.
    </p>
    <p class="mdl-card__supporting-text">
     The only way to know for sure whether you agree is to do what
      I did and try each one out for yourself.
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->


  <!-- Third Row: 3 cells * 4 cols -->
  <a name="row-3"></a>
  <!-- Incremental Projects and Payments -->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp jmws-4-col-card">
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Crafting vs. Hacking</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p>
     KISS has always been a rule.
    </p>
    <p>
     Things change too quickly.
    </p>
    <p>
     I am embracing the churn.
    </p>
    <p>
     I do not want to do a bunch of work for someone only to
      have them refuse to pay.
     If we are going to work together, we will need to establish trust.
     The best way to do that is incrementally, with small projects.
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->

  <!-- Finely Crafted Sites -->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp jmws-4-col-card">
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Finely Crafted Sites</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Technical work always takes longer than we think it will take.
    </p>
    <p>
     More than that, I like to take pride in my work.
     The fact that <q>quality</q> is a subjective term makes
      things more confusing.
    </p>
    <p class="mdl-card__supporting-text">
     <b>This does not mean I am a perfectionist, only that I care.</b>
    </p>
    <p>
     Some people want quick-and-dirty results, but are afraid to admit
      they are not interested in quality work.
     I call quick-and-dirty work <q>prototyping.</q>
     If you are cool with me cutting corners, call it <q>prototyping,</q>
      so I know in advance it will be wasteful making something nice
      because it's just going to wind up in the trash.
    </p>
    <p class="mdl-card__supporting-text">
     <b>Does that make sense?</b>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->

  <!-- Prototyping -->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp jmws-4-col-card">
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Experimenting and Prototyping</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Not sure what you want?
     I have a basic structure that makes it easy to put together a simple site.
    </p>
    <p>
     It's a cinch to move it to wordpress, react, drupal, or whatever later,
      if that's what you decide you want to do.
    </p>
    <p>
     I feel like sometimes people would rather see quick results than
      wait for something crafted.
    </p>
    <p class="mdl-card__supporting-text">
     My inclination is to take my time and craft something nice.
     If you want something quick and dirty, let me know in advance.
     This will let me know I can accept a lower price than if I was
      going to craft something nice.
    </p>
    <p class="mdl-card__supporting-text">
     If you want something minimal and quick be sure to let me know
      so I can better estimate how much effort to spend on your project.
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->


  <!-- Fourth Row - Use Cases: 4 cells * 3 cols -->
  <a name="row-4"></a>
  <!-- Small Business -->
  <div class="mdl-card mdl-cell mdl-cell--3-col mdl-shadow--4dp jmws-3-col-card">
   <div class="mdl-card__title jmws-center">
    <i class="fas fa-3x fa-city"></i>
   </div>
   <div class="mdl-card__title jmws-center">
    <div class="jmws-center">
     <h2 class="mdl-card__title-text">Small Businesses</h2>
    </div>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     WordPress is overkill for many small businesses.
    </p>
    <p>
     WordPress is overkill for many small businesses.
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
     <b>.</b>
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->

  <!-- Small Non-Profit -->
  <div class="mdl-card mdl-cell mdl-cell--3-col mdl-shadow--4dp jmws-3-col-card">
   <div class="mdl-card__title jmws-center">
    <i class="fas fa-3x fa-hand-holding-heart"></i>
   </div>
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Small Non-Profits</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     I am sensitive to the financial constraints faced by non-profits.
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
     If your company is a non-profit be sure to let me know
      so I can adjust my expectations accordingly.
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->

  <!-- Solopreneur -->
  <div class="mdl-card mdl-cell mdl-cell--3-col mdl-shadow--4dp jmws-3-col-card">
   <div class="mdl-card__title jmws-center">
    <i class="fas fa-3x fa-home"></i>
   </div>
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Startups and Solopreneurs</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Solopreneur?  WP is way overkill.
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->

  <!-- Independent Blogger -->
  <div class="mdl-card mdl-cell mdl-cell--3-col mdl-shadow--4dp jmws-3-col-card">
   <div class="mdl-card__title jmws-center">
    <i class="fas fa-3x fa-edit"></i>
   </div>
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Independent Bloggers</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     .
    </p>
    <p>
     You can start with something simple, and grow it as you find
      your voice and your audience.
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->


  <!-- Fifth Row: 3 cells * 4 cols -->
  <a name="row-5"></a>
  <!-- Incremental Projects and Payments -->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp jmws-4-col-card">
   <div class="mdl-card__title jmws-center">
    <i class="fas fa-3x fa-sitemap"></i>
   </div>
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Incremental Projects and Payments</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p>
     KISS has always been a rule.
    </p>
    <p>
     Things change too quickly.
    </p>
    <p>
     I am embracing the churn.
    </p>
    <p>
     I do not want to do a bunch of work for someone only to
      have them refuse to pay.
     If we are going to work together, we will need to establish trust.
     The best way to do that is incrementally, with small projects.
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->

  <!-- Pricing -->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp jmws-4-col-card">
   <div class="mdl-card__title jmws-center">
    <i class="fas fa-3x fa-money-bill"></i>
   </div>
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Value-Based Pricing</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Value-based pricing only.
    </p>
    <p>
     Ensures you always get your money's worth, as long as you pay your invoice.
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
     Enables me to take my time and craft something without worrying about
      charging you for that extra effort, e.g., if billed hourly, etc.
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->

  <!-- Money Back Guarantee -->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp jmws-4-col-card">
   <div class="mdl-card__title jmws-center">
    <i class="fas fa-3x fa-certificate"></i>
   </div>
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Money Back Guarantee</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     We need a deposit of 50% before work commences.
    </p>
    <p>
     The smaller the milestone, the smaller the deposit, which means
      less risk for both of us.
    </p>
    <p class="mdl-card__supporting-text">
     Keeping projects small and incremental allows building trust.
    </p>
    <p>
     <b>Review section on this in Timothy Ferriss' book before hashing this out.</b>
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->

  <!-- Not Dissing WP -->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp jmws-4-col-card">
   <div class="mdl-card__title jmws-center">
    <i class="fas fa-3x fa-wordpress-simple"></i>
   </div>
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Why You Should Use WordPress</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     WordPress is great, but people who want fairly simple sites
      need to know there are other options.
    </p>
    <p>
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
     If you have more than a couple of users,
      WP may be best for you.
    </p>
    <p>
    </p>
    <hr>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->


  <!-- Contact Me -->
  <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp jmws-12-col-card">
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Contact Me</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Maybe add a contact me link, to make it easy for them?
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__supporting-text mdl-color-text--grey-800 jmws-center">
    <a href="https://groja.com/conversion/joomoowebsites"
       title="Open a page containing a Contact Us form on groja.com in a new window or tab"
       target="_blank">
     <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Contact Me!
     </button>
    </a>
   </div>
  </div><!-- .mdl-card -->



  <!-- DELETE ME -->
  <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp jmws-12-col-card">
   <div class="mdl-card__title jmws-center">
    <h3 class="display-3">DELETE BEFORE DEPLOYING</h3>
   </div>
  </div><!-- .mdl-card  -->

  <!-- Template 4-col -->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp jmws-4-col-card">
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Template</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Template containing markup needed for a new cell.
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->

  <!-- Template 3-col -->
  <div class="mdl-card mdl-cell mdl-cell--3-col mdl-shadow--4dp jmws-3-col-card">
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Template</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Template containing markup needed for a new cell.
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->

  <!-- Deleted Blah-Blah 1 -->
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--4dp jmws-6-col-card">
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Deleted Blah-Blah 1</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Keep things succinct and on-topic.
    </p>
    <p class="mdl-card__supporting-text">
     <b>ToDo</b>
     Re-read <em><u>To Sell Is Human</u></em> by Daniel Pink
      before going off on anything.
     Save that shit for tomhartung.com.
    </p>
    <p class="mdl-card__supporting-text">
     Do NOT talk about myself or my situation.
     <br>
     Talk ONLY about the benefits of using python over Wordpress and
      static sites such as Wix.
    </p>
    <p>
     Developers love python because it comes with a set of coding standards,
      PEP-8.
     As long as the previous developer follows these standards, a new
      person can look at the code and not freak out over
      <q>religious differences.</q>
    </p>
    <p>
     It's fun!
     Because it's easy to write concise code that's easy to understand and
      maintain.
    </p>
    <p>
    </p>
    <hr>
    <p class="mdl-card__supporting-text">
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->

  <!-- Deleted Blah-Blah 2 -->
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--4dp jmws-6-col-card">
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Deleted Blah-Blah 2</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Because it's pretty and fun to work with!
     The libraries make building mobile-friendly layouts easy and fun!
     It's fun!
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
     When you get a lot of functionality for free, the temptation is to use it,
      even though that might not be the best course for your business.
    </p>
    <p>
     A database can be helpful when building a general-purpose tool.
     The downside is it can present a serious security risk.
     Hackers know this, and they have tools for finding bloated sites
      running out-dated vulnerable software.
    </p>
    <p>
    </p>
    <hr>
    <p class="mdl-card__supporting-text">
     <p>
     </p>
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->

 </div><!-- .mdl-grid -->
{% endblock %}

{% block remainder %}
{% endblock %}
