{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
 <div class="mdl-grid portfolio-max-width">
  <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp jmws-index-card">
   <div class="mdl-card__title">
    <h2 class="display-2">JooMoo WebSites LLC</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card  -->

  <!-- Second Row: 2 cells * 6 cols -->
  <!-- Why Python? -->
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Python</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p>
     Because it's easy to write concise code that's easy to understand and
      maintain.
    </p>
    <p>
     The libraries make building mobile-friendly layouts easy and fun!
    </p>
    <p>
     It's fun!
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div><!-- .mdl-card -->

  <!-- Why Material Design? -->
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Material Design</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p>
     Because it's pretty and fun to work with!
    </p>
    <p>
     The libraries make building mobile-friendly layouts easy and fun!
    </p>
    <p>
     It's fun!
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div><!-- .mdl-card -->

  <!-- Third Row: 3 cells * 4 cols -->
  <!-- Finely Crafted Sites -->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Finely Crafted Sites</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div><!-- .mdl-card -->

  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Pricing</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Value-based pricing only.
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div><!-- .mdl-card -->

  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Pricing</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Value-based pricing only.
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div><!-- .mdl-card -->

  <!-- Fourth Row: 4 cells * 3 cols -->
  <!-- Why Simple Sites? -->
  <div class="mdl-card mdl-cell mdl-cell--3-col mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Why Simple Sites?</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p>
     KISS has always been a rule.
    </p>
    <p>
     Things change too quickly.
    </p>
    <p>
     I am embracing the churn.
    </p>
    <p>
     I do not want to do a bunch of work for someone only to
      have them refuse to pay.
     If we are going to work together, we will need to establish trust.
     The best way to do that is incrementally, with small projects.
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div><!-- .mdl-card -->

  <!-- Prototyping -->
  <div class="mdl-card mdl-cell mdl-cell--3-col mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Prototyping</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Not sure what you want?
     I have a basic structure that makes it easy to put together a simple site.
    </p>
    <p>
     It's a cinch to move it to wordpress, react, drupal, or whatever later,
      if that's what you decide you want to do.
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div><!-- .mdl-card -->

  <!-- Tenmplate -->
  <div class="mdl-card mdl-cell mdl-cell--3-col mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Template</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Template for mdl-cell markup.
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div><!-- .mdl-card -->

  <div class="mdl-card mdl-cell mdl-cell--3-col mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Template</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Template for mdl-cell markup.
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div><!-- .mdl-card -->

  <!-- DELETE ME -->
  <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp jmws-index-card">
   <div class="mdl-card__title">
    <h3 class="display-3">DELETE BEFORE DEPLOYING</h3>
   </div>
  </div><!-- .mdl-card  -->

  <!-- Deleted Blah-Blah 1 -->
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Deleted Blah-Blah 1</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Keep things succinct and on-topic.
    </p>
    <p class="mdl-card__supporting-text">
     <b>ToDo</b>
     Re-read <em><u>To Sell Is Human</u></em> by Daniel Pink
      before going off on anything.
     Save that shit for tomhartung.com.
    </p>
    <p class="mdl-card__supporting-text">
     Do NOT talk about myself or my situation.
     <br>
     Talk ONLY about the benefits of using python over Wordpress and
      static sites such as Wix.
    </p>
    <p>
    </p>
    <hr>
    <p class="mdl-card__supporting-text">
     <p>
      Developers love python because it comes with a set of coding standards,
       PEP-8.
      As long as the previous developer follows these standards, a new
       person can look at the code and not freak out over
       <q>religious differences.</q>
     </p>
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div><!-- .mdl-card -->

  <!-- Deleted Blah-Blah 2 -->
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Deleted Blah-Blah 2</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <hr>
    <p class="mdl-card__supporting-text">
     <p>
     </p>
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div><!-- .mdl-card -->
 </div><!-- .mdl-grid -->
{% endblock %}

{% block remainder %}
{% endblock %}
