{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
 <div class="mdl-grid portfolio-max-width">
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Why simple?</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p>
     KISS has always been a rule.
    </p>
    <p>
     Things change too quickly.
    </p>
    <p>
     I am embracing the churn.
    </p>
    <p>
     I do not want to do a bunch of work for someone only to
      have them refuse to pay.
    </p>
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Why Material Design?</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p>
     Because it's pretty and fun to work with!
    </p>
    <p>
     The libraries make building mobile-friendly layouts easy and fun!
    </p>
    <p>
     It's fun!
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Why Python?</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p>
     Because it's easy to write concise code that's easy to understand and
      maintain.
    </p>
    <p>
     The libraries make building mobile-friendly layouts easy and fun!
    </p>
    <p>
     Developers love python because it comes with a set of coding standards,
      PEP-8.
     As long as the previous developer follows these standards, a new
      person can look at the code and not freak out over
      <q>religious differences.</q>
    </p>
    <p>
     It's fun!
    </p>
    <p>
    </p>
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Dashboard template</h2>
   </div>
   <div class="mdl-card__supporting-text">
    Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt.
    Sunt nulla eu enim irure enim nostrud aliqua consectetur ad
     consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Text-heavy website</h2>
   </div>
   <div class="mdl-card__supporting-text">
    Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt.
    Sunt nulla eu enim irure enim nostrud aliqua consectetur ad
     consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Blog template</h2>
   </div>
   <div class="mdl-card__supporting-text">
    Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt.
    Sunt nulla eu enim irure enim nostrud aliqua consectetur ad
     consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Ex officia laborum</h2>
   </div>
   <div class="mdl-card__supporting-text">
    Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt.
    Sunt nulla eu enim irure enim nostrud aliqua consectetur ad
     consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Stand-alone article</h2>
   </div>
   <div class="mdl-card__supporting-text">
    Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt.
    Sunt nulla eu enim irure enim nostrud aliqua consectetur ad
     consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">MDL website</h2>
   </div>
   <div class="mdl-card__supporting-text">
    Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt.
    Sunt nulla eu enim irure enim nostrud aliqua consectetur ad
     consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Consequat ut quis</h2>
   </div>
   <div class="mdl-card__supporting-text">
    Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt.
    Sunt nulla eu enim irure enim nostrud aliqua consectetur ad
     consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div>
 </div><!-- .mdl-grid -->
{% endblock %}

{% block remainder %}
{% endblock %}
