{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
   {{ super() }}
   <!-- Add to homescreen for Chrome on Android -->
   <meta name="mobile-web-app-capable" content="yes">
   <link rel="icon" sizes="192x192" href="images/android-desktop.png">
   <!-- Add to homescreen for Safari on iOS -->
   <meta name="apple-mobile-web-app-capable" content="yes">
   <meta name="apple-mobile-web-app-status-bar-style" content="black">
   <meta name="apple-mobile-web-app-title" content="Material Design Lite">
   <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">
   <!-- Tile icon for Win8 (144x144 + tile color) -->
   <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
   <meta name="msapplication-TileColor" content="#3372DF">

   <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-home.css') }}" />
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
         integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
         crossorigin="anonymous">
{% endblock %}

{% block layout %}
 <div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
  <main class="mdl-layout__content">
   <div class="demo-blog__posts mdl-grid">

    <!-- Top Row: 1 cell * 12 cols -->
    <div class="mdl-card amazing mdl-cell mdl-cell--12-col">
     <div class="mdl-card__title mdl-color-text--grey-50">
      <h3 class="quote">
       <a href="/about">
        JooMoo WebSites: Elegant Sites That Are Easy to Extend
       </a>
      </h3>
     </div>
     <div class="mdl-card__supporting-text mdl-color-text--grey-700">
      <b>
       Built with Python and Material Design, our sites are simple and
        elegant &mdash; and easy to extend, enhance, and maintain.
      </b>
     </div>
     <div class="mdl-card__supporting-text meta mdl-color-text--grey-800">
      <div>
       If you want something more than a static site, yet something
        more secure and easier to customize and maintain
        than WordPress, a python site built by JooMoo WebSites
        might be the perfect middle, "Goldilocks" option!
      </div>
     </div>
    </div>

    <!-- Second Row: 2 cells * 6 cols -->
    <!-- Portfolio -->
    <div class="mdl-card portfolio-pic mdl-cell mdl-cell--6-col">
     <div class="mdl-card__media">
     </div>
     <div class="mdl-grid">
      <div class="mdl-typography--text-center">
       <h3>
        <a href="/portfolio" class="mdl-color-text--black">Portfolio</a>
       </h3>
      </div>
     </div>
     <div class="mdl-card__supporting-text meta mdl-color-text--grey-800">
      <div>
       Our portfolio contains images of and links to some of the sites
        we have created recently using Django, Flask, and various
        Material Design css libraries.
      </div>
     </div>
    </div><!-- .mdl-card -->

    <!-- About JooMoo WebSites -->
    <div class="mdl-card logo-pic mdl-cell mdl-cell--6-col">
     <div class="mdl-card__media">
     </div>
     <div class="mdl-grid">
      <div class="mdl-typography--text-center">
       <h3>
        <a href="/about" class="mdl-color-text--black">
         About JooMoo WebSites</a>
       </h3>
      </div>
     </div>
     <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-800">
      <div>
       Find out more about the types of sites we develop and
        the tools we use to build them.
      </div>
     </div>
    </div><!-- .mdl-card -->

    <!-- Third Row: 3 cells * 4 cols -->
    <!-- Social Media -->
    <div class="mdl-card amazing mdl-cell mdl-cell--4-col">
     <div class="mdl-card__title mdl-color-text--grey-50">
      <h3 class="quote">
       Social Media &mdash; In Moderation!
      </h3>
     </div>
     <div class="mdl-card__supporting-text mdl-color-text--grey-800">
      JooMoo WebSites is on social media, but I am wary of spending too
       much time on those addictive sites.
      <br>
      <br>
      They make it easy to connect, though, so why not take advantage?
     </div>
     <div class="mdl-card__supporting-text meta mdl-color-text--grey-800">
        <a href="https://www.facebook.com/joomoowebsites"
           class="social-icon" target="_blank"
           title="Find JooMooWebSites on Facebook">
         <i class="fab fa-facebook fa-3x"></i>
        </a>
        <a href="https://www.linkedin.com/company/joomoowebsites.com/"
           class="social-icon" target="_blank"
           title="Find JooMooWebSites on LinkedIn">
         <i class="fab fa-linkedin fa-3x"></i></a>
     </div>
    </div><!-- .mdl-card -->

    <!-- Blog -->
    <div class="mdl-card toms-blog mdl-cell mdl-cell--4-col">
     <div class="mdl-card__media mdl-color-text--grey-50">
      <h3>
       <a href="https://TomWHartung.com" target="_blank"
          title="Visit TomWHartung.com in a new window or tab">
        Blog</a>
       </a>
      </h3>
     </div>
     <div class="mdl-card__supporting-text mdl-color-text--grey-800">
      To learn about JooMoo WebSites LLC's backstory, visit
       my blog.
     </div>
     <div class="mdl-card__supporting-text mdl-color-text--grey-800 jmws-center">
      <a href="https://TomWHartung.com" target="_blank"
         title="Visit TomWHartung.com in a new window or tab">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
       Visit My Blog
      </button>
     </a>
     </div>
    </div><!-- .mdl-card -->

    <!-- Looking for a few good clients -->
    <div class="mdl-card amazing mdl-cell mdl-cell--4-col">
     <div class="mdl-card__title mdl-color-text--grey-50">
      <h3 class="quote">
       <a href="https://groja.com/conversion/joomoowebsites"
          title="Open a page containing a Contact Us form on groja.com in a new window or tab"
          target="_blank">
        Looking for a few good clients!</a>
      </h3>
     </div>
     <div class="mdl-card__supporting-text mdl-color-text--grey-800">
      As a Sole Proprietor, I don't need a lot of clients, just a few good ones.
      <br>
      <br>
      When you are ready to get your python-based website, contact me!
     </div>
     <div class="mdl-card__supporting-text mdl-color-text--grey-800 jmws-center">
      <a href="https://groja.com/conversion/joomoowebsites"
         title="Open a page containing a Contact Us form on groja.com in a new window or tab"
         target="_blank">
       <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Contact Me!
       </button>
      </a>
     </div>
     <div class="mdl-card__supporting-text mdl-color-text--grey-800 jmws-center">
      My ideal client would be someone willing to learn how to change the
       code themself,
      <a href="https://github.com/tomwhartung/joomoowebsites.com"
         title="Open a page containing for the github repo for joomoowebsites.com in a new window or tab"
         target="_blank">
       github repo
      </a>
     </div>
    </div><!-- .mdl-card -->
   </div><!-- .mdl-grid -->

   <footer class="mdl-mini-footer">
     <div class="mdl-mini-footer--left-section">
      <div class="mdl-logo jmws-footer-home">
       All Rights Reserved.
       Copyright &copy; 2016&ndash;2019
        <a href="http://www.TomWHartung.com" class="footer-home"
           title="TomWHartung.com home page" target="_blank">
         Tom W. Hartung</a>
        and
        <a href="/" class="footer-home"
           title="JooMoo WebSites.com home page" target="_blank">
         JooMoo WebSites LLC</a>.
      </div>
     </div>
     <div class="mdl-mini-footer__right-section">
      <div class="mdl-logo jmws-footer-home">
      <b>Your use of this site implies you consent to our
       <a href="/legal/terms_of_service" class="footer-home"
          title="Terms of Service for this site" target="_blank">
        Terms of Service</a> and
       <a href="/legal/privacy_policy" class="footer-home"
          title="Privacy Policy for this site" target="_blank">
        Privacy Policy</a>.</b>
      </div>
     </div>
   </footer>

  </main>
  <div class="mdl-layout__obfuscator"></div>
 </div><!-- .mdl-layout -->
{% endblock %}

{% block scripts %}
 {{ super() }}
 <script>
   Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function(el) {
     var link = el.querySelector('a');
     if(!link) {
       return;
     }
     var target = link.getAttribute('href');
     if(!target) {
       return;
     }
     el.addEventListener('click', function() {
       location.href = target;
     });
   });
 </script>
{% endblock %}
