{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
   {{ super() }}
   <style>
   </style>
{% endblock %}

{% block content %}
 <div class="mdl-grid portfolio-max-width">
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Home page for now</h2>
   </div>
   <p class="mdl-card__supporting-text">
    This is the home page for joomoowebsites.com .
    You might say it could use some work.
   </p>
   <div class="mdl-card__supporting-text">
    Blah blah yadda yadda.
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-example01.html">Read more</a>
   </div>
  </div>
 </div><!-- .mdl-grid -->
{% endblock %}

{% block remainder %}
  {{ super() }}
{% endblock %}
