{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block content %}
 <div class="mdl-grid portfolio-max-width">
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp jmws-12-col-card">
   <div class="mdl-card__title mdl-typography--text-center">
    <h2 class="display-2">JooMooWebSites.com</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     This flask site uses Material Design Lite &mdash; MDL
    </p>
    <ul class="mdl-list">
     <li class="mdl-list__item">
      <a href="https://getmdl.io/index.html" target="_blank">
       https://getmdl.io/index.html</a>
     </li>
    </ul>
    <p>
    </p>
    <ul class="toms-collection">
     <li class="toms-collection-item">
      <a href="https://getmdl.io/index.html" target="_blank">
       https://getmdl.io/index.html</a>
     </li>
    </ul>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-cell -->

  <!-- Sample Markup -->
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp jmws-12-col-card">
   <div class="mdl-card__title">
    <h1 class="display-1">Sample Markup h1</h1>
   </div>
   <div class="mdl-card__supporting-text">
    naked within the div elt
    <p class="mdl-card__supporting-text">
     p.mdl-card__supporting-text
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
     p with no class
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <div class="mdl-card__title">
     <h1 class="mdl-card__title-text">Mdl-card__title-text H1</h1>
    </div>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <div class="mdl-card__title">
     <h6 class="mdl-card__title-text">Mdl-card__title-text H6</h6>
    </div>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <h1>H1 Heading</h1>
    <p>
    </p>
    <h2>H2 Heading</h2>
    <p>
    </p>
    <h3>H3 Heading</h3>
    <p>
    </p>
    <h4>H4 Heading</h4>
    <p>
    </p>
    <h5>H5 Heading</h5>
    <p>
    </p>
    <h6>H6 Heading</h6>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <h1 class="display-1">Display-1 Heading</h1>
    <p>
    </p>
    <h2 class="display-2">Display-2 Heading</h2>
    <p>
    </p>
    <h3 class="display-3">Display-3 Heading</h3>
    <p>
    </p>
    <h4 class="display-4">Display-4 Heading</h4>
    <p>
    </p>
    <h5 class="display-5">Display-5 Heading</h5>
    <p>
    </p>
    <h6 class="display-6">Display-6 Heading</h6>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
     Two list styles, the mdl one and my own:
    </p>
    <ul class="mdl-list">
     <li class="mdl-list__item">
      ul.mdl-list li.mdl-list__item
     </li>
     <li class="mdl-list__item">
      This is a list item with a short value.
     </li>
     <li class="mdl-list__item">
      This is a list item with a long value.
      I tried using these on the legal page and they did not work well.
      Issues occur when we use
       <a href="">links</a>.
      The docs show how to use icons and what-not.
     </li>
     <li class="mdl-list__item">
     </li>
    </ul>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <ol class="mdl-list">
     <li class="mdl-list__item">
      ol.mdl-list li.mdl-list__item
     </li>
     <li class="mdl-list__item">
      Ordered list item with a short value.
     </li>
     <li class="mdl-list__item">
      Ordered list item with a long value.
      Issues occur when we use
       <a href="">links</a>.
      The docs show how to use icons and what-not.
     </li>
     <li class="mdl-list__item">
     </li>
    </ol>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <ul class="toms-collection">
     <li class="toms-collection-item">
      ul.toms-collection li.toms-collection-item
     </li>
     <li class="toms-collection-item">
     </li>
    </ul>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <ol class="toms-collection">
     <li class="toms-collection-item">
      ol.toms-collection li.toms-collection-item
     </li>
     <li class="toms-collection-item">
     </li>
    </ol>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <ul class="">
     <li class="">
      ul.nada li.nada
     </li>
     <li class="toms-collection-item">
     </li>
    </ul>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <ol class="">
     <li class="">
      ol.nada li.nada
     </li>
     <li class="toms-collection-item">
     </li>
    </ol>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
     <a href="">link</a>
     <a href="" target="_blank">link</a>
     <a href="" title="">link</a>
     <a href="" target="_blank" title="">link</a>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <h3>Nested mdl-grid</h3>
    <div class="mdl-grid">
     <div class="mdl-cell mdl-cell--12-col">
      mdl-cell--12-col
     </div><!-- .mdl-cell -->
     <div class="mdl-cell mdl-cell--8-col">
      mdl-cell--8-col
     </div><!-- .mdl-cell -->
     <div class="mdl-cell mdl-cell--6-col">
      mdl-cell--6-col
     </div><!-- .mdl-cell -->
     <div class="mdl-cell mdl-cell--4-col">
      mdl-cell--4-col
     </div><!-- .mdl-cell -->
     <div class="mdl-cell mdl-cell--3-col">
      mdl-cell--3-col
     </div><!-- .mdl-cell -->
     <div class="mdl-cell mdl-cell--2-col">
      mdl-cell--2-col
     </div><!-- .mdl-cell -->
     <div class="mdl-cell mdl-cell--1-col">
      mdl-cell--1-col
     </div><!-- .mdl-cell -->
    </div><!-- .mdl-grid -->
    <p>
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div><!-- .mdl-card__actions -->
  </div><!-- .mdl-cell -->

  <!-- 12-col cell -->
  <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp jmws-12-col-card">
   <div class="mdl-card__title">
    <h2 class="display-2">12-col cell</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     mdl-card__supporting-text
    </p>
    <p>
     p elt with no class
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__supporting-text">
    <div class="mdl-grid">
     <div class="mdl-cell mdl-cell--6-col">
     </div><!-- .mdl-cell -->
     <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-card__title jmws-center">
       <h6 class="bold italic underline">
        Nested Grid fail &mdash; or not?
       </h6>
      </div><!-- .mdl-card__title -->
     </div><!-- .mdl-cell -->
    </div><!-- .mdl-grid -->
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->

  <!-- Template -->
  <div class="mdl-card mdl-cell mdl-cell--3-col mdl-shadow--4dp jmws-3-col-card">
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Template</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Template containing markup needed for a 3-col new cell.
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div><!-- .mdl-card -->

  <!-- Template -->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp jmws-4-col-card">
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Template</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Template containing markup needed for a new 4-col cell.
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div><!-- .mdl-card -->

  <!-- Deleted Blah-Blah 1 -->
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--4dp jmws-6-col-card">
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Deleted Blah-Blah 1</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     Template containing markup needed for a new 6-col cell.
    </p>
    <p class="mdl-card__supporting-text">
     <b>ToDo</b>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <hr>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div><!-- .mdl-card -->

  <!-- Deleted Blah-Blah 2 -->
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--4dp jmws-6-col-card">
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text">Deleted Blah-Blah 2</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <hr>
    <p class="mdl-card__supporting-text">
     <p>
     </p>
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div><!-- .mdl-card -->

 </div><!-- .mdl-grid -->
{% endblock %}

{% block remainder %}
{% endblock %}
