{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block content %}
 <div class="mdl-grid portfolio-max-width">
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp jmws-index-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">JooMooWebSites.com</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     This flask site uses Material Design Lite &mdash; MDL
    </p>
    <ul class="mdl-list">
     <li class="mdl-list__item">
      <a href="https://getmdl.io/index.html" target="_blank">
       https://getmdl.io/index.html</a>
     </li>
    </ul>
    <p>
    </p>
    <ul class="toms-collection">
     <li class="toms-collection-item">
      <a href="https://getmdl.io/index.html" target="_blank">
       https://getmdl.io/index.html</a>
     </li>
    </ul>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-cell -->
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp jmws-index-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Sample Markup</h2>
   </div>
   <div class="mdl-card__supporting-text">
    naked within the div elt
    <p class="mdl-card__supporting-text">
     p.mdl-card__supporting-text
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
     p with no class
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <h1>H1 heading</h1>
    <p>
    </p>
    <h2>H2 heading</h2>
    <p>
    </p>
    <h3>H3 heading</h3>
    <p>
    </p>
    <h4>H4 heading</h4>
    <p>
    </p>
    <h5>H5 heading</h5>
    <p>
    </p>
    <h6>H6 heading</h6>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <h1 class="display-1">display-1 heading</h1>
    <p>
    </p>
    <h2 class="display-2">display-2 heading</h2>
    <p>
    </p>
    <h3 class="display-3">display-3 heading</h3>
    <p>
    </p>
    <h4 class="display-4">display-4 heading</h4>
    <p>
    </p>
    <h5 class="display-5">display-5 heading</h5>
    <p>
    </p>
    <h6 class="display-6">display-6 heading</h6>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
     Two list styles, the mdl one and my own:
    </p>
    <ul class="mdl-list">
     <li class="mdl-list__item">
      li.mdl-list__item
     </li>
     <li class="mdl-list__item">
      This is a list item with a long value.
      I tried using these on the legal page and they did not work well.
      Issues occur when we use
       <a href="">links</a>.
      The docs show how to use icons and what-not.
     </li>
     <li class="mdl-list__item">
     </li>
    </ul>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
    <ul class="toms-collection">
     <li class="toms-collection-item">
      li.toms-collection-item
     </li>
     <li class="toms-collection-item">
     </li>
    </ul>
    <p class="mdl-card__supporting-text">
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p class="mdl-card__supporting-text">
     <a href="">link</a>
     <a href="" target="_blank">link</a>
     <a href="" title="">link</a>
     <a href="" target="_blank" title="">link</a>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div><!-- .mdl-card__actions -->
  </div><!-- .mdl-cell -->
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Sunt nulla</h2>
   </div>
   <div class="mdl-card__supporting-text">
    Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt.
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Android.com website</h2>
   </div>
   <div class="mdl-card__supporting-text">
    Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt.
    Sunt nulla eu enim irure enim nostrud aliqua consectetur ad
     consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
    Sunt nulla eu enim irure enim nostrud aliqua consectetur ad
     consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Dashboard template</h2>
   </div>
   <div class="mdl-card__supporting-text">
    Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt.
    Sunt nulla eu enim irure enim nostrud aliqua consectetur ad
     consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Text-heavy website</h2>
   </div>
   <div class="mdl-card__supporting-text">
    Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt.
    Sunt nulla eu enim irure enim nostrud aliqua consectetur ad
     consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Blog template</h2>
   </div>
   <div class="mdl-card__supporting-text">
    Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt.
    Sunt nulla eu enim irure enim nostrud aliqua consectetur ad
     consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Ex officia laborum</h2>
   </div>
   <div class="mdl-card__supporting-text">
    Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt.
    Sunt nulla eu enim irure enim nostrud aliqua consectetur ad
     consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Stand-alone article</h2>
   </div>
   <div class="mdl-card__supporting-text">
    Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt.
    Sunt nulla eu enim irure enim nostrud aliqua consectetur ad
     consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">MDL website</h2>
   </div>
   <div class="mdl-card__supporting-text">
    Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt.
    Sunt nulla eu enim irure enim nostrud aliqua consectetur ad
     consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Consequat ut quis</h2>
   </div>
   <div class="mdl-card__supporting-text">
    Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt.
    Sunt nulla eu enim irure enim nostrud aliqua consectetur ad
     consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       href="/index">
     Read more</a>
   </div>
  </div>
 </div><!-- .mdl-grid -->
{% endblock %}

{% block remainder %}
{% endblock %}
