{% extends "base.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}
 <div class="mdl-grid portfolio-max-width">
  <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp jmws-12-col-card">
   <div class="mdl-card__title jmws-center">
    <h2>Portfolio</h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p class="mdl-card__supporting-text">
     All of these sites &mdash; except one &mdash; use python and Material Design.
    </p>
    <p>
     I like to create secure sites and forget about them.

    </p>
    <p class="mdl-card__supporting-text">
    </p>
    <p>
    </p>
   </div><!-- .mdl-card__supporting-text -->
  </div><!-- .mdl-card -->

  <!-- ArtsyVisions.com -->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp jmws-4-col-card">
   <div class="mdl-card__media">
    <a href="{{ url_for('static', filename='images/portfolio/artsyvisions.com-1.png') }}"
       title="See a full-size screenshot in a new window or tab" target="_blank">
     <img class="article-image" border="0"
          src="{{ url_for('static', filename='images/portfolio/artsyvisions.com-1-scaled-1.png') }}"
          alt="Screen shot of the home page of ArtsyVisions.com">
    </a>
   </div>
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text"><u>ArtsyVisions.com</u></h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p>
     Hosts articles containing highlights and insights gleaned
      from the image galleries at SeeOurMinds.com.
    </p>
   </div>
   <div class="mdl-card__supporting-text">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
     <div class="mdl-tabs__tab-bar">
      <a href="#avs-libs-panel" class="mdl-tabs__tab is-active">Libs</a>
      <a href="#avs-data-panel" class="mdl-tabs__tab">Data</a>
      <a href="#avs-notes-panel" class="mdl-tabs__tab">Notes</a>
     </div>
     <div class="mdl-tabs__panel is-active" id="avs-libs-panel">
      Uses Django and Materialize.
     </div>
     <div class="mdl-tabs__panel" id="avs-data-panel">
      The site uses no database, so it contains no admin panel
       and does not support user logins.
      As long as the server is secure, the site is
       un-hackable.
      <br>
      The contents of each article is stored in a .json file,
       two .html files, and as many .jpg files as necessary.
     </div>
     <div class="mdl-tabs__panel" id="avs-notes-panel">
      The Materialize libary has many features and
       the documentation is clear, making it easy to
       figure out how to use it.
      <br>
      The Home page for ArtsyVisioins.com is derived from
       the Parallax theme downloaded from
       <u>materializecss.com/getting-started.html</u>.
      The Parallax theme looks awesome and was fun to work with,
       but it can be a little fragile.
     </div>
    </div>
   </div>
   <div class="mdl-card__supporting-text mdl-card__actions mdl-card--border jmws-center">
    <a href="https://ArtsyVisions.com" target="_blank"
       title="Visit the home page of ArtsyVisions.com">
     <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Visit ArtsyVisions.com
     </button>
    </a>
   </div>
  </div><!-- .mdl-card -->

  <!-- Groja.com -->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp jmws-4-col-card">
   <div class="mdl-card__media">
    <a href="{{ url_for('static', filename='images/portfolio/groja.com-1.png') }}"
       title="See a full-size screenshot in a new window or tab" target="_blank">
     <img class="article-image" border="0"
          src="{{ url_for('static', filename='images/portfolio/groja.com-1-scaled-1.png') }}"
          alt="Screen shot of the home page of seeourminds.com">
    </a>
   </div>
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text"><u>Groja.com</u></h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p>
     Explains what GROJAs are and handles all conversions
      for all JooMooWebSites sites.
    </p>
   </div>
   <div class="mdl-card__supporting-text">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
     <div class="mdl-tabs__tab-bar">
      <a href="#avs-libs-panel" class="mdl-tabs__tab is-active">Libs</a>
      <a href="#avs-data-panel" class="mdl-tabs__tab">Data</a>
      <a href="#avs-notes-panel" class="mdl-tabs__tab">Notes</a>
     </div>
     <div class="mdl-tabs__panel is-active" id="avs-libs-panel">
       Uses Flask and Material Design Bootstrap.
     </div>
     <div class="mdl-tabs__panel" id="avs-data-panel">
      The site uses a small database to store the information users share
       during a conversion: mostly names and email addrsses.
      <br>
      Keeping things as simple as possible helps respect users'
       privacy and minimizes the code needed for the site.
     </div>
     <div class="mdl-tabs__panel" id="avs-notes-panel">
      MD Boostrap is my favorite MD CSS library so far.
      It is full of features not found in the other libraries
       that can help make laying out a site
       for different screen sizes easy and fun.
      <br>
      The theme was derived from the Landing Page tutorial at
       <u>mdbootstrap.com/landing-page-lesson-1</u>
      and the Corporate website theme found at
       <u>mdbootstrap.com/education/bootstrap/</u> .
      Groja.com and SeeOurMinds.com look similar because both sites
       are about the same idea.
     </div>
    </div>
   </div>
   <div class="mdl-card__supporting-text mdl-card__actions mdl-card--border jmws-center">
    <a href="https://Groja.com" target="_blank"
       title="Visit the home page of Groja.com">
     <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Visit Groja.com
     </button>
    </a>
   </div>
  </div><!-- .mdl-card -->

  <!-- SeeOurMinds.com -->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp jmws-4-col-card">
   <div class="mdl-card__media">
    <a href="{{ url_for('static', filename='images/portfolio/seeourminds.com-1.png') }}"
       title="See a full-size screenshot in a new window or tab" target="_blank">
     <img class="article-image" border="0"
          src="{{ url_for('static', filename='images/portfolio/seeourminds.com-1-scaled-1.png') }}"
          alt="Screen shot of the home page of seeourminds.com">
    </a>
   </div>
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text"><u>SeeOurMinds.com</u></h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p>
     Hosts the SeeOurMinds.com personality questionnaire and
      galleries containing hundreds of images.
    </p>
   </div>
   <div class="mdl-card__supporting-text">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
     <div class="mdl-tabs__tab-bar">
      <a href="#avs-libs-panel" class="mdl-tabs__tab is-active">Libs</a>
      <a href="#avs-data-panel" class="mdl-tabs__tab">Data</a>
      <a href="#avs-notes-panel" class="mdl-tabs__tab">Notes</a>
     </div>
     <div class="mdl-tabs__panel is-active" id="avs-libs-panel">
      Uses Django and Material Design Bootstrap.
     </div>
     <div class="mdl-tabs__panel" id="avs-data-panel">
      The site uses a small database allowing users to optionally
       store the answers to a questionnaire.
      All gallery content and the quiz questions are stored in .json files.
     </div>
     <div class="mdl-tabs__panel" id="avs-notes-panel">
      MD Boostrap is my favorite MD CSS library so far.
      It is full of features not found in the other libraries
       that can help make laying out a site
       for different screen sizes easy and fun.
      <br>
      The SeeOurMinds.com Home page was derived
       from a free landing page template at
       <u>mdbootstrap.com/previews/free-templates/landing-page/form.html</u>
      SeeOurMinds.com and Groja.com look similar because both sites
       are about the same idea.
     </div>
    </div>
   </div>
   <div class="mdl-card__supporting-text mdl-card__actions mdl-card--border jmws-center">
    <a href="https://SeeOurMinds.com" target="_blank"
       title="Visit the home page of SeeOurMinds.com">
     <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Visit SeeOurMinds.com
     </button>
    </a>
   </div>
  </div><!-- .mdl-card -->

  <!-- TomWHartung.com -->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp jmws-4-col-card">
   <div class="mdl-card__media">
    <a href="{{ url_for('static', filename='images/portfolio/tomwhartung.com-1.png') }}"
       title="See a full-size screenshot in a new window or tab" target="_blank">
     <img class="article-image" border="0"
          src="{{ url_for('static', filename='images/portfolio/tomwhartung.com-1-scaled-1.png') }}"
          alt="Screen shot of the home page of tomwhartung.com">
    </a>
   </div>
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text"><u>TomWHartung.com</u></h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p>
     My official blog and my last remaining PHP-based site.
     It runs WordPress and uses device detection rather than CSS
      to serve slightly different layouts to different device types.
    </p>
   </div>
   <div class="mdl-card__supporting-text">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
     <div class="mdl-tabs__tab-bar">
      <a href="#avs-libs-panel" class="mdl-tabs__tab is-active">Libs</a>
      <a href="#avs-data-panel" class="mdl-tabs__tab">Data</a>
      <a href="#avs-notes-panel" class="mdl-tabs__tab">Notes</a>
     </div>
     <div class="mdl-tabs__panel is-active" id="avs-libs-panel">
      Based on WordPress and uses idMyGadget for device detection.
     </div>
     <div class="mdl-tabs__panel" id="avs-data-panel">
      All WordPress sites use the same relational database structure.
      Because WordPress is so popular, there is a high incentive to
       find exploits.
     </div>
     <div class="mdl-tabs__panel" id="avs-notes-panel">
      At some point I will convert this site to python, but
       for now am holding off on that.
      <br>
      Technology changes quickly so waiting a bit before
       converting this site allows me to experiment with
       any new Material Design CSS libraries that may come along.
     </div>
    </div>
   </div>
   <div class="mdl-card__supporting-text mdl-card__actions mdl-card--border jmws-center">
    <a href="https://TomWHartung.com" target="_blank"
       title="Visit the home page of TomWHartung.com">
     <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Visit TomWHartung.com
     </button>
    </a>
   </div>
  </div><!-- .mdl-card -->

  <!-- TomHartung.com -->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp jmws-4-col-card">
   <div class="mdl-card__media">
    <a href="{{ url_for('static', filename='images/portfolio/tomhartung.com-1.png') }}"
       title="See a full-size screenshot in a new window or tab" target="_blank">
     <img class="article-image" border="0"
          src="{{ url_for('static', filename='images/portfolio/tomhartung.com-1-scaled-1.png') }}"
          alt="Screen shot of the home page of tomhartung.com">
    </a>
   </div>
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text"><u>TomHartung.com</u></h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p>
     This is an experimental blog and contains some of my
      unconventional personal opinions.
     Some of these opinions link to book reviews I like to
      share with friends.
    </p>
   </div>
   <div class="mdl-card__supporting-text">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
     <div class="mdl-tabs__tab-bar">
      <a href="#avs-libs-panel" class="mdl-tabs__tab is-active">Libs</a>
      <a href="#avs-data-panel" class="mdl-tabs__tab">Data</a>
      <a href="#avs-notes-panel" class="mdl-tabs__tab">Notes</a>
     </div>
     <div class="mdl-tabs__panel is-active" id="avs-libs-panel">
      Uses Django and MUI CSS
     </div>
     <div class="mdl-tabs__panel" id="avs-data-panel">
      The site uses no database, so it contains no admin panel
       and does not support user logins.
      As long as the server is secure, the site is
       un-hackable.
      <br>
      This is by far the simplest site on this page.
      All content is stored in the .html django template files.
     </div>
     <div class="mdl-tabs__panel" id="avs-notes-panel">
      Notes, comments, opinions, verdict
     </div>
    </div>
   </div>
   <div class="mdl-card__supporting-text mdl-card__actions mdl-card--border jmws-center">
    <a href="https://TomHartung.com" target="_blank"
       title="Visit the home page of TomHartung.com">
     <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Visit TomHartung.com
     </button>
    </a>
   </div>
  </div><!-- .mdl-card -->

  <!-- Your Site Here! -->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp jmws-4-col-card">
   <div class="mdl-card__media">
    <a href="{{ url_for('static', filename='images/portfolio/your_site_here-1-scaled-1.png') }}"
       title="See a full-size screenshot in a new window or tab" target="_blank">
     <img class="article-image" border="0"
          src="{{ url_for('static', filename='images/portfolio/your_site_here-1-scaled-1.png') }}"
          alt="Question marks with the text 'Your Site Here'">
    </a>
   </div>
   <div class="mdl-card__title jmws-center">
    <h2 class="mdl-card__title-text"><em><u>Your Site Here</u></em></h2>
   </div>
   <div class="mdl-card__supporting-text">
    <p>
     Your new site, including only the features you need,
      based on Django or Flask and the Material Design
      CSS library of your choice.
    </p>
   </div>
   <div class="mdl-card__supporting-text">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
     <div class="mdl-tabs__tab-bar">
      <a href="#avs-libs-panel" class="mdl-tabs__tab is-active">Libs</a>
      <a href="#avs-data-panel" class="mdl-tabs__tab">Data</a>
      <a href="#avs-notes-panel" class="mdl-tabs__tab">Notes</a>
     </div>
     <div class="mdl-tabs__panel is-active" id="avs-libs-panel">
      Uses the Python CMS and Material Design Library combination that
       makes the most sense for your business.
     </div>
     <div class="mdl-tabs__panel" id="avs-data-panel">
      All content and data displayed on your site is stored
       in a format that makes sense for your business.
      Defining a solution customized for the needs of your business is more
       efficient, user-friendly, and secure than using a one-size-fits-all
       relational database with a well-known structure, which is
       what WordPress provides.
     </div>
     <div class="mdl-tabs__panel" id="avs-notes-panel">
      Start simple and expand and enhance your site only if and
       when it makes sense.
      If your site requires occasional or regular updates, I can
       work with you to define processes that take advantage of
       the tools you are most comfortable with.
     </div>
    </div>
   </div>
   <div class="mdl-card__supporting-text mdl-card__actions mdl-card--border jmws-center">
    <a href="https://Groja.com/conversion/joomoowebsites" target="_blank"
       title="Fill out a form to contact me">
     <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Contact Me
     </button>
    </a>
   </div>
  </div><!-- .mdl-card -->
 </div><!-- .mdl-grid -->
{% endblock %}

{% block remainder %}
{% endblock %}
