
{% set navbar_color = "navbar-dark indigo" %}
{% set fixed_top = "fixed-top" %}
{% set logo_height = "60px" %}
{% set fixed_bottom = "fixed-bottom" %}

{% extends 'base.html' %}

{% block title %}Versions {% endblock %}

{% block content %}
 <div class="mdl-grid portfolio-max-width">
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Versions</h2>
   </div>
   <p class="mdl-card__supporting-text">
    Versions
   </p>
   <ul class="list-group mb-3">
    <li class="list-group-item">
     Flask: {{ flask_version }}
    </li>
    <li class="list-group-item">
     Python: {{ python_version }}
    </li>
   </ul>
   <p class="mdl-card__supporting-text">
    <u>Command line &ndash; flask:</u><br>
    python3 -c "import flask; print(flask.__version__)"
   </p>
   <p class="mdl-card__supporting-text">
    <u>Command line &ndash; python:</u><sup>*</sup><br>
    which python3<br>
    python3 --version<br>
    python3 -V<br>
    which python<br>
    python -V<br>
    python --version<br>
   </p>
   <p class="mdl-card__supporting-text">
    * Be careful changing the system version, applications may be dependent on it.
   </p>
   <hr>
  </div><!-- .mdl-cell -->
 </div><!-- .mdl-grid -->
{% endblock %}
